<% include ../partials/header %>

<% for(var i = 0; i < users.length; i++) { %>
	<p><%= users[i].name %></p>
	<p><%= users[i].color %></p>
	<a href="/users/<%= users[i]._id %>/edit">Edit</a>
	<form action="/users/<%= users[i]._id %>?_method=DELETE" method="POST">
		<input type="submit" value="Delete">
	</form>
<% } %>
<a href="/users/new">New</a>