<form action="/signup" method="POST">
	<input name="user[email]" type="email" placeholder="Email">
	<input name="user[name]" type="text" placeholder="Name">
	<input name="user[password]" type="password" placeholder="Password">
	<input type="submit">
</form>
<a href="/signin">Sign In</a>